body {
   font-family: sans-serif;
   font-size: 16px;
}

input {
   width: auto;
   margin: auto;
   border: 200px rgb(0, 5, 5, 1);
   border-radius: 25%;
   z-index: 1;

}

html {

   background-color: #786934;
   z-index: -1;
}